<html>
    <head>
        <title>Wissen Learning Inc.</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+SC:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Balthazar" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="hero-logo-container">
                <div class="logo"></div>
                <div class="logo-title">
                    <span class="logo-title-main">Wissen</span>
                    <span class="logo-title-sub">Learning</span>
                </div>
            </div>
            <nav class="hero-nav">
                <li class="hero-nav-item"><a href="#">Home</a></li>
                <li class="hero-nav-item"><a href="">About</a></li>
                <li class="hero-nav-item"><a href="">Courses</a></li>
                <li class="hero-nav-item"><a href="">Contact</a></li>
                <li class="hero-nav-item"><a href="">Blog</a></li>
                <button class="btn hero-nav-item-btn">Student Moodle</button>
            </nav>
        </header>
        <section id="hero">
            <div class="background-image-overlay">
                    <div class="background-image"></div>
            </div>
            <div class="hero-content">
                <h1 class="hero-headline-main">educational greatness starts with fundamental</h1>
                <h4 class="hero-headline-sub">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec convallis ex. Integer pulvinar sollicitudin ultrices. Ut maximus sapien mattis laoreet iaculis. Nam et consequat eros. Vivamus justo dui, fermentum at dolor tristique, porttitor suscipit.</h4>
                <button class="hero-btn">Learn More</button>
            </div>

        </section>

        <section id="quote">
                <div class="quote-text">
                    <h4 class="first">“Wir mussen wissen</h4>
                    <h4 class="second">Wir werden wissen”</h4>
                    <h4 class="author">- David Hilbert</h4>
                </div>
            </div>
        </section>

        <section id="service">
            <h3 class="title">Our Services</h3>
            <div class="service-container">
                <div class="service-item">
                    <div class="service-item-icon"></div>
                    <h5 class="service-item-heading">Live Experience</h5>
                    <p class="service-item-body">Instructors with real expreince with NA Education System</p>
                    <div class="learn-more"><a>Learn More > </a></div>
                </div>

                <div class="service-item">
                    <div class="service-item-icon">
                        <img>
                    </div>
                    <h5 class="service-item-heading">Student Centered Teaching</h5>
                    <p class="service-item-description">Personally optimized unique curriculum for each student</p>
                    <div class="learn-more"><a>Learn More ></a></div>
                </div>

                <div class="service-item">
                    <div class="service-item-icon">
                        <img>
                    </div>
                    <h5 class="service-item-heading">Planning/Counselling</h5>
                    <p class="service-item-body">Professional academic planning and counselling to fulfill student's goal</p>
                    <div class="learn-more"><a>Learn More > </a></div>
                </div>

                <div class="service-item">
                    <div class="service-item-icon">
                        <img>
                    </div>
                    <h5 class="service-item-heading">Mentoring System</h5>
                    <p class="service-item-body">Building long lasting mentor-mentee relationship</p>
                    <div class="learn-more"><a>Learn More > </a></div>
                </div>
            </div>    
        </section>

        <section id="question">
            <div class="question-content">
                <h4 class="question-heading">Got any questions?</h4>
                <button class="btn question-btn">Contact Us</button?
            </div>
        </section>

        <section id="course">
            <h3 class="title">Offered Courses</h3>
            <div class="course-container">
                <div class=course-item-container>
                    <div class="course-item-logo">
                        <img>
                    </div>
                    <h5 class="course-item-heading">Mathematics</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper nunc, eu laoreet dui. Quisque faucibus mi vel lectus commodo egestas. Ut sed ultrices felis. Proin quis condimentum ligula.</p>
                    <a class="learn-more">Learn More ></a>
                </div>
                
                <div class=course-item-container>
                    <div class="course-item-logo">
                        <img>
                    </div>
                    <h5 class="course-item-heading">Mathematics</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper nunc, eu laoreet dui. Quisque faucibus mi vel lectus commodo egestas. Ut sed ultrices felis. Proin quis condimentum ligula.</p>
                    <a class="learn-more">Learn More ></a>
                </div>
                
                <div class=course-item-container>
                    <div class="course-item-logo">
                        <img>
                    </div>
                    <h5 class="course-item-heading">Mathematics</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper nunc, eu laoreet dui. Quisque faucibus mi vel lectus commodo egestas. Ut sed ultrices felis. Proin quis condimentum ligula.</p>
                    <a class="learn-more">Learn More ></a>
                </div>

                <div class=course-item-container>
                    <div class="course-item-logo">
                        <img>
                    </div>
                    <h5 class="course-item-heading">Mathematics</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu semper nunc, eu laoreet dui. Quisque faucibus mi vel lectus commodo egestas. Ut sed ultrices felis. Proin quis condimentum ligula.</p>
                    <a class="learn-more">Learn More ></a>
                </div>
            </div>
        </section>
        <section id="testimonial">
            <p class="testimonial-quote">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec convallis ex. Integer pulvinar sollicitudin ultrices. Ut maximus sapien mattis laoreet iaculis. Nam et consequat eros. Vivamus justo dui, fermentum at dolor tristique, porttitor suscipit mi. Proin congue nulla est, vitae volutpat ligula eleifend at.”</p>
            <p class="testimonial-author">- Bruce Wayne</p>
        </section>

        <section id="instructor">
            <h3 class="title">Our Instructors</h3>
            <div class="instructor-container">
                <div class="instructor-card">
                    <div class="instructor-img">
                        <img>
                    </div>
                    <p class="instructor-name">Joon Young Suk</p>
                    <p class="instructor-title"><span class="instructor-title-icon">IMG</span>Director, Head Teacher</p>
                    <ul class="instructor-achievement-container">
                        <li class="instructor-achievement-item"><span class="instructor-achievement-item-icon"></span>McGill University, M.Sc Medical Physics</li>
                        <li class="instructor-achievement-item"><span class="instructor-achievement-item-icon"></span>Korean University M.Sc Physics</li>
                        <li class="instructor-achievement-item"><span class="instructor-achievement-item-icon"></span>Korean University B.Sc Physics</li>
                    </ul>
                </div>
                <div class="instructor-card">
                    <div class="instructor-img">
                        <img>
                    </div>
                    <p class="instructor-name">Lyndia H. Won</p>
                    <p class="instructor-title"><span class="instructor-title-icon">IMG</span>Teacher, Counsellor</p>
                    <ul class="instructor-achievement-container">
                        <li class="instructor-achievement-item"><span class="instructor-achievement-item-icon"></span>McGill University, B.Sc Psychology</li>
                        <li class="instructor-achievement-item"><span class="instructor-achievement-item-icon"></span>Post Graduate Diploma, Psychological Rehabilitation</li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="footer">
            <div class="footer-container">
                <div class="footer-intro">
                    <h4 class="intro-title">
                        <span class="first">Wissen</span>
                        <span class="second">Learning</span>
                    </h4>
                    <p class="intro-desc">Wissen is a german word, meaning to know. We teach math and science to help students wissen our nature. Not memorizing for your test, but understanding for your future academical journey.</p>
                </div>
                <div class="footer-nav">
                    <ul>
                        <li class="footer-nav-item">Home</li>
                        <li class="footer-nav-item">About</li>
                        <li class="footer-nav-item">Courses</li>
                        <li class="footer-nav-item">Cotnact</li>
                        <li class="footer-nav-item">Blog</li>
                        <li class="footer-nav-item">Student Moodle</li>
                        <li class="footer-nav-item">Online Lectures</li>
                    </ul>
                </div>
                <div class="footer-info">
                    <h4 class="info-title">Find Us</h4>
                    <ul>
                        <li class="info-item"><span></span>#315-2150 West Broadway, Vancouver, BC</li>
                        <li class="info-item">+1 (604) 563 - 8505</li>
                        <li class="info-item">info@wissen.ca</li>
                    </ul>
                </div>
                <div class="footer-map">
                    <!-- <div class="mapss"></div> -->
                </div>
            </div>
            <hr class="footer-hr">
            <div class="footer-copyright">
                <h4 class="copyright">© 2018 Wissen Learning Inc, All rights reserved</h4>
                <a class="copyright-tos">Terms of Service</a>
                <a class="copyright-pp">Privacy Policy</a>
            </div>
        </section>
    </body>
</html>